#latestTopics input.topicsLast:checked + div.box-content{display:block}
table.ipbtable th{height:33px}
th.select-items{width:9%}
.olList{padding-left:22px;line-height:24px;list-style:none}
.olList li{position:relative;height:24px;width:100%;list-style-type:none;border-bottom:1px dashed #CCC;counter-increment:Zzindex}
.olList li:before{content:counter(Zzindex);display:block;height:17px;background:#DEDDDE;position:absolute;left:-22px;font-size:11px;top:4px;border-radius:2px;text-align:center;width:16px;color:#FFF;line-height:16px;z-index:10}
.olList li:after{content:" ";background:#DEDDDE;display:block;width:6px;height:6px;position:absolute;top:9px;left:-9px;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.olList li:nth-child(1):before,ol.olList li:nth-child(1):after{background:#C39BC0}
.olList li:nth-child(2):before,ol.olList li:nth-child(2):after{background:#87C1C5}
.olList li:nth-child(3):before,ol.olList li:nth-child(3):after{background:#AEC38A}
.olList li:nth-child(4):before,ol.olList li:nth-child(4):after{background:#D4D4B0}
.olList li:nth-child(5):before,ol.olList li:nth-child(5):after{background:#CCB9AE}
.olList li:nth-child(5) ~ li:before,ol.olList li:nth-child(3) ~ li:after{color:#7192A8;text-shadow:0 0 2px #FFF,0 0 2px #FFF,0 0 2px #FFF,0 0 2px #FFF}
.olList li > a{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;width:70%;height:inherit}
.olList li > .right{position:absolute;right:0;top:0}
table.ipbtable th.tabs{padding:0 0 0 20px;text-align:left}
th.tabs label{display:inline-block;height:34px;line-height:30px;padding:0 12px;border:1px solid transparent;border-bottom:0 none}
th.tabs label:hover,th.tabs label.active{cursor:pointer;border-color:#DDD;background:#FFF}
.tabs .titleList{margin-bottom:-5px}
div#tooltip p{padding:2px 6px}
#tooltip{background-color:#FFF;border:1px solid #889FAF;color:#889FAF;max-width:550px;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px}
p.thongtinlast{background-color:#889FAF;padding:2px 6px!important;color:#fff;margin:-4px 0 5px;font-weight:bold}

.topic-list-box .row1 .jnfo{display:block;padding:3px 0 0 50px}
.lastpost-avatar img{max-width:41px;max-height:41px;padding:3px;border:1px solid #ddd}
#forummenu-options_menu{right:15px!important;top:36px!important;padding:8px}
#forummenu-options_menu.popupmenu li{border-bottom:0 none;padding:0}
.activeusers{border-width:1px}
.bar{background:#FFF}
.topic-desc{text-indent:-9999px;width:40px;height:40px}
.topicthumbnail{width:40px;height:40px;background-repeat:no-repeat;background-position:center center;background-size:cover}
.popupmenu-item > a > img{height:16px;width:16px}
.post-container{margin-left:0}
.post,.postdetails{position:relative}
.postdetails.row1,.postdetails.row2{padding:5px;border:0 none!important;margin:10px 0;background:#444;color:#FFF}
.postprofile-avatar{float:left}
.postprofile-right{float:right;width:140px}
.postprofile-left{margin-left:58px;position:absolute;float:left}
div.post .popupmenu{top:20px}
.postprofile{float:none;margin-left:0;width:100%;padding:1em;background:#F8F8F8;padding:10px}
.popupmenu li a[title*="website"]:after,.popupmenu li a[title^="Website"]:after{content:" " attr(href)}
div.post{background:#F8F8F8;border:1px solid #7192A8;margin:10px 0}
.postprofile-left > .popmenubutton > a{background-color:transparent;border:0}
.postbody-head.post-header h3{font-size:14px!important;text-transform:inherit}
.postprofile-left .popmenubutton a{padding:2px 16px 2px 0}
.popmenubutton-new-out.popmenubutton a{font-size:13px}
.popmenubutton a[href*="showhide(document.getElementById('plus_menu'))"]{padding:2px 21px 2px 8px;background-position:88% 50%}

div.post .post-header{min-height:30px;border-bottom:1px dashed #DDD;padding-top:7px}
.post-footer{height:34px;border:0}
.post-footer > ul{opacity:0;-webkit-transition-duration:.3s;transition-duration:.3s}
div.post:hover .post-footer > ul{opacity:1}
.post-entry{overflow:visible;position:relative;margin:0;padding:10px;overflow-wrap:break-word;word-wrap:break-word}
.post-entry iframe{border:1px solid #DDD}
div.post .post-header,.post-entry,.post-footer{background:#FFF}
span.label img{width:12px;height:12px}
span.label > span{display:inline-block;width:84px}
.postprofile-avatar{border:0 none;background:transparent}
.postprofile-avatar.avatar img{width:48px}

.next-prev{padding:4px 0}
.popupmenu li{background:none}
.post-entry img{max-width:100%}
dl.spoiler,dl.codebox{background:transparent;clear:none;float:none;border:0 none;margin:0;padding:0}
dl.spoiler dt,dl.codebox dt{float:none;width:100%;margin:0;position:relative;background:url(http://i83.servimg.com/u/f83/16/58/89/73/page_w10.png) no-repeat scroll 10px center #777;color:#FFF;border:1px solid #777777;height:30px;border-bottom-width:0;line-height:26px;padding:2px 10px 0 30px}
dl.spoiler dd,dl.codebox dd{margin:0;padding:0;background:transparent;border:1px dotted #777;border-top:none}
dl.codebox dd{background:#FFF;max-height:300px;overflow:scroll;position:relative;border:1px dotted #777;padding:4px 10px}
dl.spoiler dt{border:0;background:url(http://i.imgur.com/0sKIrQB.gif) no-repeat 10px center #777;width:100%;color:#FFF;display:block;font-size:14px}
.spoiler_content.hidden{padding:10px}
.post-entry blockquote{background:#FFF;border:1px solid #DDD;color:#333;position:relative;margin:0 0 10px 10px;padding:10px 15px!important}
.post-entry cite{font-size:13px;font-weight:700;text-decoration:underline;background:url(http://i.imgur.com/2lZuNz0.png) no-repeat left 2px transparent;margin:0!important;padding:0 0 3px 20px}
.post-entry blockquote:before{content:'';display:inline-block;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #CCC;position:absolute;top:10px;left:-10px;height:0}
.post-entry blockquote:after{content:'';display:inline-block;border-top:9px solid transparent;border-bottom:9px solid transparent;border-right:9px solid #fff;position:absolute;top:11px;left:-9px;height:0}
.spoiler > dt:hover{background-color:#333}
h2.post-content{color:#fd347c;font-size:16px;line-height:22px}
h3.post-content{color:#0068d8;font-size:14px;line-height:18px}
h4.post-content{color:#009847;  font-size: 14px;}
a.anchor{position:absolute;left:0;-webkit-transform:scale(.8);transform:scale(.8);color:#888}
a.anchor:hover{-webkit-transform:scale(1.2);transform:scale(1.2);color:red}
.anchorList{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:50;position:absolute;right:39px;top:15px;background:#FFF;border:0}
.anchorControl{background:url(http://i39.servimg.com/u/f39/18/83/32/63/14105311.png) no-repeat center center transparent;width:30px;height:30px;position:absolute;top:0;right:-29px;border:1px solid #444;cursor:pointer}
.anchorList.acShow .anchorInner{display:block}
.anchorInner{padding:5px;border:1px solid #444;display:none}
.anchorList.acShow .anchorControl{background-color:#FFF;background-image:url(http://i39.servimg.com/u/f39/18/83/32/63/14105312.png);border-left:0 none}
.anchorList a{font-size:12px;display:block;height:24px;line-height:24px;padding:0 10px;text-transform:uppercase;white-space:pre;transition:background .2s ease,color .2s ease}
.anchorList a:hover{background:#444;color:#FFF!important}
a.acView{color:red!important}
.table{border-collapse:separate;border-spacing:2px;border:1px solid #CCC}
.table td{border:1px solid #DDD;padding:5px}
.table .thead{background:#444;color:#FFF;text-transform:uppercase}
.table .thead td{padding:10px 5px}
.post-entry embed{width:640px;margin:0 auto;display:block;max-width:100%}

/* menu action */
#topicmenu-options{position:relative}
#plus_menu{left:auto!important;right:0;top:20px;width:225px!important;z-index:100!important}
#plus_menu a,#plus_menu strong,#forummenu-options_menu a{display:block!important;text-align:left;padding:3px 5px!important;color:#333;font-size:13px;font-weight:300}
#plus_menu a:hover,#forummenu-options_menu a:hover{background-color:#7192A8!important;color:#FFF}

/* footer */
#right > .module{float:left;background:transparent;border:0 none}
#right .box-content{padding:0;background:transparent;color:#DDD}
#right .maintitle{background:transparent}
#right .box-content a:hover{color:#7192A8}
#right > .module:nth-child(1){width:200px}
#right > .module:nth-child(2){width:270px;margin-left:15px}
#right > .module:nth-child(3){margin-left:500px;position:absolute;padding-right:20px}
#right > .module:nth-child(3) .box-content{overflow:hidden;max-height:152px}
#right > .module:nth-child(3):hover .box-content{overflow:auto}
div#gfooter{color:#5A7A8F}
#gfooter .footer-links{width:auto!important}
#gfooter a{color:inherit!important}
#toppage{bottom:45px;cursor:pointer;opacity:.7;position:fixed;right:2%}
#toppage:hover{opacity:1}
a.copyright-skin{float:left;padding:0 3px}

/* pagination */
div.pagination {margin-top: 5px;}
div.pagination{font-size:0}
div.pagination a,div.pagination b{padding:4px 8px;font-size:13px}
div.pagination a > img{margin-top:-3px}
div.pagination a:hover{background-color:#7A8286!important;color:#FFF}
div.pagination a.goto{padding:4px 20px 4px 8px;background-position:93% 50%}
form[name="go_page"] .bginput{width:50px;padding:4px 7px}
.gen .forumline .thHead{background:#5A7A8F!important;color:#FFF}

/* memberlist */
div.borderwrap .member-list{padding:0}
.member{border-width:3px;margin-bottom:0;margin-right:0;width:25%}
#profile-advanced-details .message-header,.avatar,.mini-avatar{border:0!important}
.member p{font-size:.85em;overflow:hidden}
.member:hover p{overflow:auto}
.member-header{background:#F8F8F8;position:relative;height:33px;margin-bottom:10px;padding-top:12px}
.member .popmenubutton-new-out a{background-color:transparent;border:0 none;padding-left:47px}
.member-list .popmenubutton .mini-avatar{position:absolute;top:0;left:0}
.member-list .popmenubutton .mini-avatar img{padding:2px;border:1px solid #EEE}
.search-filter,.search-filter select{font-size:inherit}
.search-filter dt{margin-top:7px;color:#888}

/* zzVotePlus */
.vote_zzvote{float:left;margin-left:4px;margin-top:6px}
.vote_zzvote > a.vote_plus{background:none no-repeat center #FFF;color:#444;cursor:pointer;box-shadow:0 1px 0 rgba(0,0,0,.05);border:1px solid #d9d9d9;border-radius:3px;font-size:11px;font-weight:700;display:inline-block;float:left;height:22px;line-height:20px;transition:background .3s;-webkit-transition:background .3s;-moz-transition:background .3s;padding:0 7px}
.vote_zzvote > a.vote_plus:hover{border-color:#666}
.vote_zzvote > a.vote_plus[href=""]{border:0 none;line-height:22px;background-color:#dd4b39;cursor:default;color:#FFF}
.vote_zzvote > a.vote_plus.dis{background-color:#FFF;color:#CCC}
.vote_zzvote > a.vote_plus.dis:hover{border-color:#d9d9d9;cursor:not-allowed}

/* jQ plugin announcement v0.1 by zzbaivong (http://devs.forumvi.com) */
#zzAnnouncement{border-left:1px solid #DDD;border-top:1px solid #DDD;position:fixed;right:0;bottom:0;width:300px;padding:5px 20px;font-family:monospace;z-index:888}
#zzAnnouncement { background: rgba(0, 0, 0, 0.67); color: #FFF; }
.zzAnnouncement-title { height: 33px; line-height: 34px; background-color: rgba(62, 183, 170, 0.77); margin: -2px -17px; }
.zzAnnouncement-title > h2 { font-size: 21px; font-weight: 300; text-transform: uppercase; color: #FDFD25; padding-left: 15px; }
.zzAnnouncement-button{position:absolute;right:4px;top:0}
.zzAnnouncement-button > div { width: 28px; height: 24px; text-indent: -9999px; background: none no-repeat center center #2559FD; float: right; margin: 7px 3px 3px 0; }
.zzAnnouncement-button > div.zzAnnouncement-toggle{background-image:url(http://i.imgur.com/1bDKWJT.png)}
.zzAnnouncement-button > div.zzAnnouncement-close{background-color:#FF3737}
.zzAnnouncement-button > div:hover{cursor:pointer;background-color:#666;-webkit-transition:background 300ms;transition:background 300ms}
.zzAnnouncement-content{margin:18px 0 10px;overflow:hidden}
.zzAnnouncement-list{position:relative;overflow:hidden}
.zzAnnouncement-list > li{width:100%;list-style:none;position:relative;-webkit-transition:all 300ms;transition:all 300ms}
.zzAnnouncement-list > li.show{z-index:10}
.zzAnnouncement-list.zztop > li{left:0;top:-100%}
.zzAnnouncement-list.zztop > li.show{top:0}
.zzAnnouncement-list.zzbottom > li{left:0;bottom:-100%}
.zzAnnouncement-list.zzbottom > li.show{bottom:0}
.zzAnnouncement-list.zzleft > li{top:0;left:-100%}
.zzAnnouncement-list.zzleft > li.show{left:0}
.zzAnnouncement-list.zzright > li{top:0;right:-100%}
.zzAnnouncement-list.zzright > li.show{right:0}
.zzAnnouncement-paging{height:20px;line-height:20px;text-align:center;margin-top:15px}
.zzAnnouncement-paging > span{padding:2px 5px;margin:0 3px;background:#666;cursor:pointer}
.zzAnnouncement-paging > span:hover,.zzAnnouncement-paging > span.active{background:#C03AFF}

/* SCEditor */
.qreply{width:100%;margin:0 0 1.3em;padding:0 10px;background:#FFF;border:0}
#textarea_content{width:100%!important;margin-bottom:10px}
.sceditor-container iframe,.sceditor-container textarea{min-height:150px}
.sceditor-container,.sceditor-group,.sceditor-button,div.sceditor-dropdown,.sceditor-dropdown .button{border-radius:0!important;box-shadow:none!important}
.sceditor-toolbar > div.sceditor-group{background:transparent;border:0 none;position:relative}
.sceditor-container{width:100%!important;height:322px}
.sceditor-button{background:#FFF;border:1px outset #DDD;margin:0 2px}
.sceditor-button.active,.sceditor-button.hover,.sceditor-button:active,.sceditor-button:hover{border:1px inset #DDD}
.sceditor-dropdown .button{background:#7192A8!important;color:#FFF!important;border:0 none!important}
.sceditor-dropdown .button:hover{background:#2B6565!important}
.sceditor-group:not(:last-child):after{content:" ";display:block;width:1px;height:20px;position:absolute;top:5px;right:-3px;background:#777}
.messaging-box,#smiley-box{padding:0 11px 0 10px;border:0;background:transparent}
.helpline{display:none}
#smiley-box{padding:0;background:transparent;margin:0 0 0 10px}
.smiley-container{border:0}
.exthelp,.rte-menu-button{border-color:#CCC;margin:0;line-height:17px}
.textarea-info > .exthelp{background:0;border:0;margin:0;float:none;display:block;padding:0}
.borderwrap .subtitle{color:#333; padding: 8px 5px 5px;}
#smileyContainer > iframe{border:1px solid #DDD;height:322px}
a.sceditor-color-option{border:0 none!important;width:8px;height:4px}
a.sceditor-color-option:hover:after{content:" ";display:block;width:24px;height:24px;position:absolute;left:1px;top:-27px;background:inherit;border:1px solid #FFF}
#text_editor_textarea{width:100px!important;display:block!important;opacity:0!important;position:absolute!important;z-index:-999!important}

/* inbox*/
.posting-options + ul.tv-privmsg{float:none;margin:17px 0 21px 0}
.posting-options + ul.tv-privmsg li{width:25%;text-align:center;margin:0;height:100px;display: inline-block;line-height:100px}
.posting-options + ul.tv-privmsg li a{color:#333;display:block;padding:20px 0 0;height:100px;margin:-20px 0 0 1%;color:#FFF}
.posting-options + ul.tv-privmsg li div.tv-priv{padding:20px 0 0;height:100px;background:url(http://i83.servimg.com/u/f83/16/58/89/73/read_m10.png) no-repeat center 20px #FFF;color:#444}
.posting-options + ul.tv-privmsg li:nth-child(2) div.tv-priv{background-image:url(http://i83.servimg.com/u/f83/16/58/89/73/reply10.png)}
.posting-options + ul.tv-privmsg li:nth-child(3) div.tv-priv{background-image:url(http://i83.servimg.com/u/f83/16/58/89/73/new_po10.png)}
.posting-options + ul.tv-privmsg li:nth-child(4) div.tv-priv{background-image:url(http://i83.servimg.com/u/f83/16/58/89/73/save_a10.png)}
.posting-options + ul.tv-privmsg li div.tv-priv a{background:url(http://i39.servimg.com/u/f39/18/59/49/93/read_m10.png) no-repeat center 20px #889FAF}
.posting-options + ul.tv-privmsg li:nth-child(2) div.tv-priv a{background-image:url(http://i39.servimg.com/u/f39/18/59/49/93/reply110.png)}
.posting-options + ul.tv-privmsg li:nth-child(3) div.tv-priv a{background-image:url(http://i39.servimg.com/u/f39/18/59/49/93/new_po10.png)}
.posting-options + ul.tv-privmsg li:nth-child(4) div.tv-priv a{background-image:url(http://i39.servimg.com/u/f39/18/59/49/93/save_a10.png)}
#profile-advanced-layout ul.tv-privmsg li a:hover,#profile-advanced-details .message-footer li a:hover,.posting-options + ul.tv-privmsg li div.tv-priv a:hover{background-color:#444!important}

/* profile page */
#profile-advanced-right .module,#new-message-link,.new-message.bottom,#profile-advanced-add br,.message-footer{display:none}
#profile-advanced-right .module:first-child,#profile-advanced-add + .module{display:block;position:relative;margin:0;border:0;width:300px;height:240px;overflow:hidden}
#profile-advanced-left{margin-right:0;margin-left:300px}
#profile-advanced-right{float:left;width:300px;height:240px;position:relative;overflow:hidden}
#profile-advanced-layout{float:right;margin-right:0;margin-left:-304px;position:relative;margin-bottom:30px;background:#7192A8}
#profile-advanced-layout #new-message{padding:0;position:absolute;left:1px;top:240px}
#profile-advanced-layout ul.privmsg{min-height:220px;width:300px;padding:0}
#profile-advanced-layout ul.privmsg li{display:block;float:none;width:300px;height:44px;line-height:44px;background:#FFF;color:inherit}
#profile-advanced-layout ul.privmsg li div.tabitem{padding:0 20px}
#profile-advanced-layout ul.privmsg li a{margin:0 -20px;padding:0 20px;background:#2B6565;color:#FFF}
#profile-advanced-right .module:first-child .box-content.profile,#profile-advanced-add + .module .box-content.profile{height:210px;background:#7192A8;font:0/0 a}
#profile-advanced-layout ul.privmsg,#profile-advanced-details,#profile-advanced-details .message-footer li,.posting-options{margin:0}
#profile-advanced-add{position:absolute;width:300px;padding:0;margin:0;left:0;top:-30px;z-index:50;background:#2B6565;transition:top .3s;-webkit-transition:top .3s}
#profile-advanced-add a{display:block;width:150px;float:left;height:30px;text-indent:-9999px;background:#2ecc71 url(http://i39.servimg.com/u/f39/18/83/32/63/14085310.png) no-repeat center center;overflow:hidden;text-align:left;position:absolute;left:0;top:0}
#profile-advanced-add a[href*="foe="]{background-color:#e74c3c;background-image:url(http://i39.servimg.com/u/f39/18/83/32/63/14085311.png);left:150px}
#profile-advanced-add a[href*="remove="]{background-color:#9b59b6;width:300px;background-image:url(http://i39.servimg.com/u/f39/18/83/32/63/14085312.png)}
#profile-advanced-add a:hover{background-position:15px 50%;text-indent:0;padding-left:50px;width:300px;z-index:50;line-height:30px;color:#FFF;left:0}
#profile-advanced-add:after{clear:both!important;content:".";display:block;height:0;visibility:hidden}
#profile-advanced-right .box-content.profile img:first-child{height:156px;max-width:290px;padding:4px;margin-bottom:8px}
#profile-advanced-right .box-content.profile img{background:#FFF;padding:4px 75px}
#profile-advanced-right .module .maintitle{padding:0 5px;height:30px;line-height:30px;background:#2B6565;text-align:center}
#profile-advanced-right .maintitle,#profile-advanced-details .maintitle{text-shadow: 0 0 1px #4E4E4E,0 0 1px #5F5F5F,0 0 1px #828282}
#profile-advanced-right:hover #profile-advanced-add{top:0}
#profile-advanced-details .maintitle{padding:0 10px;height:30px;line-height:30px}
#profile-advanced-details .box-content.profile{min-height:430px;padding:5px 15px}
#profile-advanced-details ol{padding:0}
#profile-advanced-details .message-block{border:0;margin:10px 0 20px 60px;position:relative;border-left:1px solid #666}
.message-text{padding:5px;white-space:pre-wrap;word-break:break-all;word-wrap:break-word}
.message-block:before,.message-block:after{content:"";display:block;width:0;height:0;border-style:solid;border-width:6px 8px 6px 0;border-color:transparent #444 transparent transparent;position:absolute;top:8px;left:-8px}
.message-block:after{left:-6px;border-color:transparent #FFF transparent transparent}
.message-header{font-size:0;height:21px;line-height:13px}
.message-date{font-size:12px}
#profile-advanced-details .message-footer{position:absolute;height:21px;right:0;top:0;background:#FFF;padding:0}
#profile-advanced-details .message-footer li:after{content:initial}
#profile-advanced-details .message-footer li a{text-decoration:none;font-size:11px;display:inline-block;background:#7192A8;color:#FFF;padding:0 7px;margin-right:0;float:right;margin-left:5px;height:20px;line-height:20px}
.message-block:hover .message-footer{display:block}
.message-textarea{width:calc(100% - 8px);margin:0 0 0 8px}
#profile-advanced-details .message-editor .message-block{border-left-color:red}
.message-editor .message-block:before{border-color:transparent red transparent transparent}
#profile-advanced-details .message-newMess .message-block{border-left-color:orange}
.message-newMess .message-block:before{border-color:transparent orange transparent transparent}
#profile-advanced-details dl{width:100%;padding:0}

/* jQuery plugin zzConfirm v0.2 by zzbaivong (http://devs.forumvi.com) */
#zzConfirm_wrap{background:none repeat scroll 0 0 #222;border:1px solid #555;min-width:140px;position:absolute;text-align:center;z-index:999;padding:7px 13px}
#zzConfirm_content{border-bottom:1px solid #555;color:#DDD;margin-bottom:7px;padding-bottom:5px}
#zzConfirm_btn > div{background:none repeat scroll 0 0 #04B;color:#FFF;display:inline-block;margin-left:10%;width:45%;padding:3px 0}
#zzConfirm_btn > div:last-child{background:none repeat scroll 0 0 #F33}
#zzConfirm_btn > div:first-child{margin-left:0}
#zzConfirm_btn > div:hover{background:none repeat scroll 0 0 #555;cursor:pointer}
#zzConfirm_wrap:before,#zzConfirm_wrap:after{position:absolute;display:block;width:0;height:0;content:"";border-color:transparent;border-style:solid}
#zzConfirm_wrap:before{border-width:11px}
#zzConfirm_wrap:after{border-width:10px}
#zzConfirm_wrap.top:before{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#444;border-bottom-width:0}
#zzConfirm_wrap.top:after{bottom:-10px;left:50%;margin-left:-10px;border-top-color:#222;border-bottom-width:0}
#zzConfirm_wrap.right:before{top:50%;left:-11px;margin-top:-11px;border-right-color:#444;border-left-width:0}
#zzConfirm_wrap.right:after{top:50%;margin-top:-10px;left:-10px;border-right-color:#222;border-left-width:0}
#zzConfirm_wrap.bottom:before{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#444;border-top-width:0}
#zzConfirm_wrap.bottom:after{top:-10px;left:50%;margin-left:-10px;border-bottom-color:#222;border-top-width:0}
#zzConfirm_wrap.left:before{top:50%;right:-11px;margin-top:-11px;border-left-color:#444;border-right-width:0}
#zzConfirm_wrap.left:after{top:50%;right:-10px;margin-top:-10px;border-left-color:#222;border-right-width:0}

/* zzPoll by zzbaivong */
.zzPoll{padding:10px 20px 0}
.zzPoll h3{font-size:16px;height:34px;line-height:23px;position:relative;border-bottom:1px solid #DDD}
.zzPoll h3:before{content:"\f080";font-size:21px;font-family:FontAwesome;padding-right:8px}
.zzPoll ul{list-style:none outside none;padding:10px 0}
.zzPoll li,#messedit{position:relative;line-height:30px;height:30px}
#poll_result .poll_t{position:absolute;width:24%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;left:0;top:0}
#poll_result .poll_m{height:25px;margin-left:25%;width:50%;float:left}
#poll_result .poll_w{background-color:red;border:5px solid #e6e6e6;float:left;line-height:18px;margin-top:3px;box-shadow:0 0 1px #000;padding:3px 1px}
#poll_result .percent{right:10%!important}
#poll_ballot .poll-c,#poll_ballot .poll-c label{display:block;height:30px;line-height:30px}
#poll_ballot .c_vote{background:url(http://i78.servimg.com/u/f78/17/70/81/78/sinchr10.png) no-repeat left center transparent;padding-left:35px;height:30px;display:inline-block;line-height:30px}
#poll_ballot input[type="radio"],#poll_ballot input[type="checkbox"]{display:none!important}
#poll_ballot input[type="checkbox"] + label,#poll_ballot input[type="radio"] + label{cursor:pointer;height:20px;line-height:20px}
#poll_ballot input[type="checkbox"] + label:before,#poll_ballot input[type="radio"] + label:before{content:"\f10c";font-family:FontAwesome;font-size:18px;color:#000000;padding-right:15px}
#poll_ballot input[type="checkbox"]:checked + label:before,#poll_ballot input[type="radio"]:checked + label:before{content:"\f05d";color:#0092d5}
#poll_ballot input[type="checkbox"]:disabled + label,#poll_ballot input[type="radio"]:disabled + label{background-image:url(http://i79.servimg.com/u/f79/16/48/23/13/delete10.png)!important;color:#999}
.zzPoll .totalvote,#poll_result .poll_m span{position:absolute;right:0}
.zzPoll .frm-buttons{text-align:center;border-top:1px solid #DDD;height:50px;line-height:25px;margin:0;padding:10px 0}
.zzPoll .frm-buttons a{margin:0 10px;font-weight:bold;height:30px;line-height:22px;vertical-align:top}


/* Css viewtopic dau tien */
.zzMedal{float:right;width:140px}
.medal-view{color:#FFF;text-shadow:0 0 2px #b7133f,0 0 2px #b7133f,0 0 2px #b7133f;display:block;padding:3px;text-align:center;font-size:11px;font-family:sans-serif;font-weight:700}
.postprofile-right .prField:nth-child(4){display:none}
.medal-wrap:after{content:" ";display:table;clear:both}
.medal-items{width:32px;height:32px;background:none no-repeat center/100% transparent;float:left}
.medal-items:nth-child(4) ~ .medal-items{display:none}
.medal-tip-t{color:#E400FF;font-size:15px}
.medal-tip-d{font-size:12px;color:#888}
.medal-wrap:hover .medal-items{display:block!important}
.medal-wrap:hover + .medal-view{display:none}

/* -------- review--------- */
#Tv-prv_overlay{position:fixed;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.85);z-index:999}
#Tv-prv_post{width:1043px!important;min-height:300px;max-height:500px;overflow:auto;background:#FFF;border:3px solid #333;margin:0 auto;padding:10px 20px}
#Tv-prv_overlay > p.h2{height:40px;line-height:40px;background:#111;border-bottom:3px solid #0085FF;margin-bottom:30px;text-align:right}
#Tv-prv_overlay .Tv-prv_title{font-weight:700;display:block;background:#0085FF;color:#FFF;font-size:1.23em;margin:0 10px;padding:0 15px}
#Tv-prv_overlay > div.center > input.Tv-prv_button{border:1px solid;height:34px!important;line-height:32px;color:#FFF;background:#0085FF;margin:10px;padding:0 15px!important}
#Tv-prv_overlay > div.center > input.Tv-prv_button:hover{cursor:pointer;background:#444}
#Tv-prv_overlay .Tv-prv_close{display:inline-block;height:40px;background:red;color:#FFF;font-weight:700;padding:0 15px}
.Tv-prv_close:hover,.Tv-prv_get:hover{color:#FF0;cursor:pointer}
#Tv-prv_post ol,#Tv-prv_post ul{margin-left:30px}
div#Tv-prv_overlay .post-entry {margin-left: 0!important;}

/*-------- Juny Thoang toolbar-----------*/
div#fa_welcome_u{display:inline-block;margin-right:-4px}
li.navLi:nth-of-type(1){background:#1D4900;border-left:1px solid #BDBDBD}
li.navLi:nth-of-type(2){background:#717171}
a.rightHeaderLink:nth-of-type(1){background:#688C26}
a.rightHeaderLink:nth-of-type(2){background:#1593A3}
.miniMe,.userNameTopMenu{float:left}
#avatar1 img{margin:5px 9px 0 4px!important}
.nav a{height:38px;line-height:38px;padding:0 3px;white-space:nowrap}
.nav .topMenuLink:hover,.nav .topMenuLink:hover .userNameTopMenu div a,.nav > .navLi:hover > .topMenuLink{background:#2A3D4A url(http://i57.servimg.com/u/f57/18/74/01/46/highli11.png) repeat-x top;border-radius:0}
.nav .navLi{display:inline;float:left;position:relative;height:38px}
.nav .navLi .topMenuLink{float:left}
.nav .Acm-tv{z-index:999999999!important;border:1px solid #2A3D4A;border-top:5px solid #2A3D4A;box-shadow:0 5px 5px rgba(0,0,0,0.2);font-size:11px;-moz-box-sizing:content-box;box-sizing:content-box;overflow:hidden;position:absolute;right:0;top:38px;width:298px}
.nav .Acm-tv a{padding:0}
ul.Acm-tv li > a > .fa{padding-right:5px}
#fa_welcome_u .nav li a img{margin-top:0}
.arrowWidget{background:rgba(0,0,0,0) url(http://i.imgur.com/xyLPV07.png) no-repeat -64px 0;display:inline-block;height:14px;margin:15px 7px 0 10px;vertical-align:middle;width:16px}
ul.Acm-tv li{display:inline-block}
.nav > .navLi:hover > .topMenuLink .arrowWidget,.nav a:hover .arrowWidget{background-position:-16px 0}
.miniMe img{border:none;height:27px;margin-right:6px;margin-top:6px;width:27px}
.nav .memberLogout:hover{background:#EB6150 url(http://i.imgur.com/1V7WfDT.png) repeat-x top!important}
.Acm-tv .menuColumns{background:#EEE url(http://i.imgur.com/fDKvZWt.png) repeat-x top;border-bottom:1px solid #CFCFCF;overflow:hidden;padding:2px 2px 10px}
.importantNoticeRed,#fa_toolbar #fa_right #notif_list li.see_all a{background:#F3E3E6 url(http://i.imgur.com/rftAMrL.png) repeat-x top;border:1px solid #E599AA!important;border-radius:3px;color:#525252!important;height:28px!important;line-height:28px!important;padding:0 18px!important;text-align:center;text-shadow:#FFF4F7 0 1px 0}
.Acm-tv .menuColumns ul{font-size:10px;font-family:Verdana,Geneva,sans-serif}
ul.col1.ulBlockLinksList{width:48%}
.Acm-tv .menuColumns a{color:#005979!important;height:14px;line-height:14px;outline:0 none;padding:4px 8px!important;text-shadow:none;-moz-box-sizing:content-box;box-sizing:content-box;display:block}
.ulBlockLinksList a:hover{background-color:#DBE7E8;color:#008CDE!important}
.menuHeader{background-color:rgba(247,248,249,0.96);border-bottom:1px solid #E4E4E4;overflow:hidden;padding:10px;position:relative;-moz-box-sizing:content-box;box-sizing:content-box}
.plainImage{float:left;margin-right:10px}
.plainImage .imgMem img{background:#FFF;border:1px solid #C4C4C4;display:block;height:78px;margin-top:5px!important;-moz-box-sizing:content-box;box-sizing:content-box;padding:4px;width:80px}
.menuHeader h3{border:none;font-size:15pt;font-weight:400;margin:0;text-shadow:none}
.menuHeader.userMenuHeader{height:110px}
.menuHeader h3 a,.nav .concealedMem a{text-transform:initial;color:#7394A9!important;height:24px;padding:0;font:18px/24px sans-serif}
.userMenuHeader .concealedMem{margin-bottom:10px;margin-top:4px}
.muteTopMenu{color:#65A7B8;font-size:12px;margin:-8px 0 0 100px}
.infoMute{height:16px;line-height:16px;text-shadow:none}
.infoMute span{float:right}
.menuWraper{background:rgba(237,237,237,0.93);border-bottom:1px solid #CFCFCF;border-top:1px solid #FFFFFF;color:#444347;font-size:12px;line-height:11px;padding:10px}
.menuFooter{background:rgba(233,233,233,0.9) url(http://i.imgur.com/fDKvZWt.png) repeat-x top;box-shadow:inset 0 1px 0 #F5F6F7;color:#525252;height:40px;line-height:25px;padding:6px 10px;font-size:12px}
.floatLink{float:right}
a.floatLink.importantNoticeRed .fa{padding-right:5px}
div#fa_toolbar{margin:0 auto;top:0;border-bottom:2px solid #C8E4EB;z-index:51!important;min-height:40px;max-width:1209px;min-width:320px}
#fa_toolbar a:hover{text-decoration:blink!important}
#fa_toolbar > #fa_right.notification > #fa_notifications{background-color:#2A3D4A!important;color:#FFF!important}
span#notif_unread{color:#FF2A3A;font-weight:700}
span#fa_share{font-size:14px!important;margin-top:-2px}
#fa_toolbar #fa_fb,#fa_toolbar #fa_gp,#fa_toolbar #fa_hide,#fa_toolbar #fa_magnifier,#fa_toolbar #fa_mail,#fa_toolbar #fa_rss,#fa_toolbar #fa_twitter,#fa_toolbar_hidden #fa_show{background-image:url(http://i56.servimg.com/u/f56/15/84/77/97/top_so10.png)!important;background-repeat:no-repeat;border-radius:3px;box-shadow:0 1px 6px rgba(189,205,221,1) inset;font-size:0;height:25px!important;margin:-2px 0 0 7px!important;transition:.4s;width:28px!important}
a#fa_fb{background-position:-27px -1px!important}
a#fa_twitter{background-position:0 -1px!important}
a#fa_gp{background-position:-54px -1px!important}
a#fa_mail{background-position:-279px -1px!important}
a#fa_rss{background-position:-84px -1px!important}
#fa_toolbar #fa_service{color:#FFF!important;background-color:#353738;font-size:24px;font-style:normal;font-weight:700;height:38px!important;line-height:38px;padding:0 9px;text-transform:uppercase}
a#fa_service{text-decoration:blink!important}
a#fa_notifications{background-color:#9E8A00!important;color:#FFF!important;line-height:38px!important;margin-left:0!important;padding:0 10px 0 15px!important}
a#fa_notifications:hover{text-shadow:none!important}
.fa_notification{z-index:999999999999!important}
li.see_all a:nth-of-type(1){float:left}
ul#notif_list{background-color:rgba(247,248,249,0.96)!important}
#fa_toolbar #fa_right #notif_list li.unread{background:#E1F0ED url(http://i.imgur.com/fDKvZWt.png) repeat-x top;color:#F93C3C}
#fa_toolbar #fa_right #notif_list li{line-height:24px!important}
#fa_toolbar #fa_right #notif_list{border:1px solid #2A3D4A!important;border-top:5px solid #2A3D4A!important;margin-top:0!important}
#notif_list .content{min-height:initial!important}
#fa_toolbar #live_notif .fa_notification .content{line-height:31px}
.fa_notification{margin-top:8px}
#fa_toolbar #fa_right #notif_list li.see_all{background:rgba(233,233,233,0.9) url(http://i.imgur.com/fDKvZWt.png) repeat-x top!important;box-shadow:inset 0 1px 0 #F5F6F7!important;color:#525252!important;font-size:12px!important;height:45px!important;border-top:1px solid #ddd}
a.rightHeaderLink[href^="http://tuoitrevn.net/register"]:before{font-family:FontAwesome;content:"\f07a";padding-right:10px}

/*------- nav2---------*/
#nav-tv { font: normal bold 12px Arial,sans-serif; height: 40px; padding: 0 20px 0 21px; background: #444444 url(http://i.imgur.com/2XQnrAJ.png) repeat; border-bottom: 4px solid #5A7A8F; max-width: 1208px; min-width: 320px; margin: 0 auto; }
.menubar2{list-style:none;margin:0;float:left}
.menubar2:before,.menubar2:after{content:" ";display:table}
.menubar2 > li{float:left;position:relative;margin:0;border-right:1px solid #2A3D4A}
.menubar2 a{display:block;padding:0 15px}
div#act{display:none}
i.fa.fa-home{font-size:25px;padding:5px 0}
.fa-home:before{content:"\f015"}
.menubar2 > li > a.active{background:#5A7A8F}
.menubar2 > li > a{display:block;height:36px;line-height:38px;font-size:13px;text-transform:uppercase;text-decoration:none;color:#FFF!important}
.menubar2 > li:hover > a{background:#2A3D4A}
.menubar2 li li a{display:block;text-shadow:0 1px 1px #FFFFFF;position:relative;line-height:31px;min-width:205px;height:30px;font-size:14px}
.menubar2 li ul{display:none;position:absolute;background:rgba(233,233,233,0.9) url(http://i.imgur.com/fDKvZWt.png) repeat-x top;left:0;overflow:hidden;z-index:999;border:1px solid #2A3D4A;border-top:4px solid #2A3D4A;box-shadow:0 5px 5px rgba(0,0,0,0.2)} 
ul.SecondaryContent-tv li{border-bottom:1px solid #CFCFCF;border-top:1px solid #FFF;margin:0}

.skinBlack .olList li:before,.skinBlack .olList li:after{background:#868686}
.skinBlack .olList li{border-bottom:1px dashed #808080}
.skinBlack .olList li:nth-child(1):before,.skinBlack ol.olList li:nth-child(1):after{background:#751616}
.skinBlack .olList li:nth-child(2):before,.skinBlack ol.olList li:nth-child(2):after{background:#715000}
.skinBlack .olList li:nth-child(3):before,.skinBlack ol.olList li:nth-child(3):after{background:#4F5800}
.skinBlack .olList li:nth-child(4):before,.skinBlack ol.olList li:nth-child(4):after{background:#695E54}
.skinBlack .olList li:nth-child(5):before,.skinBlack ol.olList li:nth-child(5):after{background:#434B56}
.skinBlack .olList li:nth-child() ~ li:before,.skinBlack ol.olList li:nth-child(3) ~ li:after{color:#080808;text-shadow:0 0 2px #FFF,0 0 2px #FFF,0 0 2px #FFF,0 0 2px #FFF}
/*--------- background color ------------------*/
.skinBlack .posting-options + ul.tv-privmsg li div.tv-priv a,.skinBlack .menubar2 > li > a.active,.skinBlack div.pagination a.goto,.skinBlack div.pagination a,.skinBlack #fa_toolbar,.skinBlack #profile-advanced-right .module:first-child .box-content.profile,.skinBlack #profile-advanced-add + .module .box-content.profile,.skinBlack #profile-advanced-layout,.skinBlack div.maintitle,.skinBlack #header,.skinBlack #search input:checked + label,.skinBlack #search .button,.skinBlack #loginReg ul > li > a:hover,.skinBlack #navstrip > li.begin,.skinBlack .post-icon a,.skinBlack .posting-icons a,.skinBlack input.button,.skinBlack a.button,.skinBlack input.button1,.skinBlack #profile-advanced-details .message-header,.skinBlack input[type="submit"],.skinBlack .tv-subhead{background-color:#716F78}
.skinBlack .borderwrapm,.skinBlack .ipbform2 dl,.skinBlack .popupmenu,.skinBlack .ipbform2 dl dd,.skinBlack .borderwrap,.skinBlack .box-content,.skinBlack .row1,.skinBlack .row2,.skinBlack table.ipbtable img.icon,.skinBlack .post,.skinBlack .qreply,.skinBlack .sceditor-container textarea,.skinBlack .sceditor-container,.skinBlack #navstrip,.skinBlack #navstrip > li,.skinBlack .post .post-header,.skinBlack .post-entry,.skinBlack .post-footer,.skinBlack .post-entry blockquote,.skinBlack dl.codebox dd,.skinBlack .overview,.skinBlack th.tabs label,.skinBlack .postprofile-avatar.avatar img,.skinBlack .prField, .skinBlack img.sprite-icon_post_target ~ a,.skinBlack .message-header a, .skinBlack .postprofile,  .skinBlack postprofile.privmsgs,.skinBlack .pathname-box,.skinBlack span.crust.homeCrumb li,.skinBlack #loginReg ul,.skinBlack .tv-subbox {background:#34323E!important;color:#A7A7A7}
.skinBlack #profile-advanced-right .module .maintitle,.skinBlack #logo > a:hover,.skinBlack #loginReg > div > a:hover,.skinBlack #profile-advanced-layout ul.privmsg li a,.skinBlack #profile-advanced-add,.skinBlack #profile-advanced-layout ul.privmsg li a,.skinBlack .posting-options + ul.privmsg li div.tabitem a{background-color:#34495e}
.skinBlack input[type="button"]:hover,.skinBlack input.button:hover,.skinBlack a.button:hover,.skinBlack input.button1:hover,.skinBlack input[type="submit"]:hover{background-color:#000!important}

/*--------- boder color ------------------*/
.skinBlack #navstrip,.skinBlack #nav-tv,.skinBlack .menubar2 > li,.skinBlack div.post,.skinBlack .row1,.skinBlack .row2,.skinBlack .borderwrapm,.skinBlack div.borderwrap,.skinBlack .postprofile-avatar.avatar img,.skinBlack .prField,.skinBlack th.tabs label,.skinBlack .vote_zzvote > a.vote_plus,.skinBlack .pathname-box, .skinBlack #loginReg ul, .skinBlack .tv-subbox{border-color:#9C9C9C!important}
body.skinBlack{background-color:#34323E;background-image:none}

.skinBlack #plus_menu a:hover,.skinBlack #forummenu-options_menu a:hover,.skinBlack .sceditor-dropdown .button{background-color:#2c3e50!important}
.skinBlack #ipbwrapper{background:rgba(33,33,49,0.4)}
.skinBlack #right .box-content a:hover,.skinBlack #right a:hover,.skinBlack a:hover{color:#2c3e50}
.skinBlack .sceditor-dropdown .button:hover{background:#34495e!important}
.skinBlack #navstrip > li:before,.skinBlack #navstrip > li:after{border-left-color:#34323E}
.skinBlack #navstrip > li.begin:before,.skinBlack .homeCrumb li:before,.skinBlack .homeCrumb li:after{border-left-color:#34323E}
.skinBlack #navstrip > li:after{border-left-color:#9C9C9C}
.skinBlack #loginReg ul:before,.skinBlack #loginReg ul:after,.skinBlack #plus_menu:before,.skinBlack #plus_menu:after,.skinBlack #forummenu-options_menu:before,.skinBlack #forummenu-options_menu:after{border-bottom-color:#979BA0}
.skinBlack #right a:link,.skinBlack a:link{color:#ddd}
.skinBlack #gfooter{background-color:#2C2B38;color:#5A7A8F}
.skinBlack a:visited{color:#A7A7A7}
.skinBlack .vote_zzvote > a.vote_plus{background-color:#34323E}
.skinBlack .vote_zzvote > a.vote_plus[href=""]{background-color:#7C7C7F}
.skinBlack .sceditor-container{background-color:#7D7D7D!important}
.skinBlack .recommend h2{color:#EAEAEA}
.skinBlack #plus_menu a,#plus_menu strong,.skinBlack #forummenu-options_menu a,.skinBlack .contract:before,.skinBlack span.crust.homeCrumb a{color:#ddd!important}
.skinBlack .forum-desc{color:#989590}
.skinBlack div.maintitle,.skinBlack div.maintitle h1,.skinBlack .maintitle h2,.skinBlack .maintitle h3{color:#ddd}
.skinBlack span.box.vhtime{border:1px solid #9C9C9C;background:#43414C}
.skinBlack tr.sttbox .fa:before{color:#716F78}
.skinBlack .tvi_1 .clearfix .fa,.skinBlack .tvi_25 .clearfix .fa{background-color:#34323E}
.skinBlack .ft-content{background:#34323E}
.skinBlack div#tv-footer{background:#43414C}
.skinBlack .jnfo > strong{color:#A2A2A2!important}
.skinBlack blockquote cite{color:#A7A7A7}
.skinBlack .topic-footer{background-color:#5E5D5F}
.skinBlack .popmenubutton a{background-color:#34323E;border:1px solid #AEADB2}
.skinBlack .postprofile-left .popmenubutton a{border:none}
.skinBlack table.ipbtable th,.skinBlack .subLink li a:hover{background-color:#43414C}
.skinBlack .post-entry blockquote:after{border-right:9px solid #3D4048}
.skinBlack .post-entry blockquote{border:1px solid #9C9C9C}
.skinBlack .postbody-head.postdetails.post-header{border-bottom:1px dashed #9C9C9C}
.skinBlack .topic-paging a,.skinBlack strong.pagination a,.skinBlack .lastpost-avatar img,.skinBlack span.juny-lpav img{background-color:#43414C;border:1px solid #9C9C9C}
.skinBlack .topicthumbnail,.skinBlack .signature_div img{opacity:.5}
.skinBlack .postprofile-avatar.avatar img{opacity:.7}
.skinBlack .menubar2 li ul,.skinBlack .subLink{background:#636363 url(http://i.imgur.com/fDKvZWt.png) repeat-x top;border:1px solid #000000;border-top:4px solid #000000;box-shadow:0 5px 5px rgba(255,255,255,0.2)}
.skinBlack ul.SecondaryContent-tv li{border-bottom:1px solid #000000;border-top:1px solid #AEADB2}
.skinBlack .menubar2 li li a{color:#ddd;text-shadow:0 1px 1px #000000}
.skinBlack .menubar2 > li:hover > a,.skinBlack span.boxconr.jnfo:hover,.skinBlack span.boxcon.jnfo:hover{background-color:#000000}
.skinBlack .postprofile-avatar.avatar img,.skinBlack .prField{background:#716F78}
.skinBlack .post-icon a,.skinBlack .posting-icons a{color:#ddd!important;box-shadow:2px 2px 0 #000000}
.skinBlack .sceditor-toolbar{background-color:#716F78!important}
.skinBlack .sceditor-button{background-color:#C5C5C5}
.skinBlack input,.skinBlack select,.skinBlack textarea.message-textarea.message-text,.skinBlack input#fa_username,.skinBlack input#fa_password{background-color:#ddd}
.skinBlack .borderwrap .subtitle,.skinBlack .formbuttonrow,.skinBlack #sce_smilies_body{background-color:#9C9C9C}
.skinBlack .loginForm{background-color:#0E0E11;border:10px solid #716F78;color:#808080}
.skinBlack #tooltip{background-color:#34323E;border:1px solid #9C9C9C;color:#9C9C9C}
.skinBlack p.thongtinlast{background-color:#716F78;color:#ddd}
.skinBlack .menuHeader,.skinBlack .Acm-tv .menuColumns{background-color:#34323E;border-bottom:1px solid #1F1F1F}
.skinBlack ul#notif_list{background-color:#34323E!important}
.skinBlack .menuFooter{background-color:#34323E;color:#7E8288;box-shadow:inset 0 1px 0 #ABABAB}
.skinBlack .menuWraper{background-color:#34323E;border-bottom:1px solid #272727;border-top:1px solid #828282;color:#ddd}
.skinBlack .importantNoticeRed,.skinBlack #fa_toolbar #fa_right #notif_list li.see_all a{background-color:#443F40;border:1px solid #312525!important;color:#ddd!important;text-shadow:#3E3E3E 0 1px 0}
.skinBlack #fa_toolbar #fa_right #notif_list li{color:#AEADB2}
.skinBlack .Acm-tv .menuColumns a{color:#BDBDBD!important}
.skinBlack .ulBlockLinksList a:hover{background-color:#808080;color:#000000!important}
.skinBlack #fa_toolbar #fa_right #notif_list li.unread{background-color:#3A2C18;color:#BB4C4D}
.skinBlack #fa_toolbar > #fa_right.notification > #fa_notifications{background-color:#000000!important}
.skinBlack #fa_toolbar #fa_right #notif_list li.see_all{background:#34323E!important;border-top:1px solid #2B2B2B;box-shadow:inset 0 1px 0 #5D5D5D}
.skinBlack .plainImage .imgMem img{background:#34323E}
.skinBlack .nav .Acm-tv,.skinBlack #fa_toolbar #fa_right #notif_list{border:1px solid #000000!important;border-top:5px solid #000000!important}
.skinBlack .nav .topMenuLink:hover,.skinBlack .nav .topMenuLink:hover .userNameTopMenu div a,.skinBlack .nav > .navLi:hover > .topMenuLink{background-color:#000;color:#AEADB2!important;text-shadow:0 0 0 rgba(0,0,0,0),1px 1px 0 #000000}
.skinBlack div#main-content [style="padding:0"],.skinBlack #main-content div[align="center"] > div[style="text-align:center; display:inline-block; margin:0 auto;"],.skinBlack #main-content > div[style="padding:10px 0 0 0 !important;"],.skinBlack div#main-content div[align="center"] iframe{display:none!important;height:0!important;width:0!important;min-height:0!important}

/*---------Chuyen huong lien ket ----------*/
#redirects{background:#FFF;width:75%;margin:30px auto;padding:20px 30px;border:1px solid #DDD}
#redirects h3{border-bottom:1px solid #ddd;font-size:17px;font-weight:400;padding-bottom:10px;color:#830000;margin:0 0 20px}
#redirects p{color:#222;font-size:13px;line-height:20px;margin:5px auto 15px}
.redirectFooter{background-color:#fff;padding:20px 0 30px}
#redirectButtons{float:right;list-style-type:none;margin:0;padding:0}
#redirectButtons li{float:left}
#redirectButtons a{transition:all .2s linear 0;-moz-transition:all .2s linear 0;-o-transition:all .2s linear 0;-webkit-transition:all .2s linear 0;background-color:#0063dc;border:0 none;color:#fff!important;font-size:12px;line-height:30px;min-width:45px;text-align:center;display:block;text-decoration:none!important;padding:0 10px}
#redirectButtons a.cancel{background-color:#eee;color:#888!important;margin-right:10px}
#redirectButtons a:hover{background:#333}


@media only screen and (min-width : 1224px) {
.postdetails > div{float:none;margin:4px 0}
.prField{font-weight:bold;padding:3px 5px;border:1px solid #EBEBEB;background:#FFF;margin:3px 0}
.postprofile-left{position:relative}
.postprofile{float:left;width:160px}
div.post .post-header,.post-entry,.post-footer{margin-left:162px}
div.post{background:#FFF;background:-webkit-gradient(linear,left top,right top,color-stop(162px,#F8F8F8),color-stop(162px,#fff));background:-webkit-linear-gradient(left,#F8F8F8 162px,#fff 162px);background:-webkit-linear-gradient(left,#F8F8F8 162px,#fff 162px);background:linear-gradient(to right,#F8F8F8 162px,#fff 162px);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8',endColorstr='#ffffff',GradientType=1)}
div.post > div{background:transparent}
.postprofile-avatar{text-align:center;width:100%}
.postprofile-avatar.avatar img{width:140px;padding:5px;border:1px solid #EBEBEB;background:#FFF}
.post-entry{margin-bottom:36px}
.post-footer{position:absolute;bottom:0;left:-162px;width:100%;padding-left:162px}
.postprofile.privmsgs > div{position:relative!important;text-align:center;top:0!important;left:0!important}
.postprofile.privmsgs .posteravatar > img{max-height:100%;width:120px;margin:5px 0}
}
@media screen and (min-width:970px) {
.bantin_item{width:16%}
}
.bantin_thumbnail{border:3px double #DDD}
.bantin_thumbnail,.bantin_time,.bantin_title{display:block;margin:0 auto}
.bantin_time,.bantin_title{text-align:left;margin-top:4px}
.bantin_time{color:#9D9B9B;font-size:12px}
@media screen and (max-width:799px) {
#header{padding:5px 0;margin:0 auto}
#smiley-box,.rte-menu-button,.postersLast .right,.lastpost-avatar,.anchorList{display:none}
div#main-content [style="padding:0"],#main-content div[align="center"] > div[style="text-align:center; display:inline-block; margin:0 auto;"],#main-content > div[style="padding:10px 0 0 0 !important;"],div#main-content div[align="center"] iframe{display:none!important;height:0!important;width:0!important;min-height:0!important}
#back-to-top{display:none!important}
.ipbform2 dl dt{float:none;width:100%}
.ipbform2 dl dd{margin-left:0!important}
.postersLast li > a{width:100%}
.ipbtable.index-box .row1 .jnfo{padding-left:0}
.member{width:33.33%}
#profile-advanced-left{margin-left:180px}
#profile-advanced-add a:hover,#profile-advanced-add,#profile-advanced-add a[href*="remove="],#profile-advanced-right,#profile-advanced-layout ul.privmsg,#profile-advanced-layout ul.privmsg li,#profile-advanced-right .module:first-child,#profile-advanced-add + .module{width:180px}
#profile-advanced-right .box-content.profile img{padding:4px 15px}
#profile-advanced-add a{width:90px}
#profile-advanced-add a[href*="foe="]{left:90px}
#profile-advanced-add a:hover{width:180px;left:0}
#right > .module:nth-child(1),#right > .module:nth-child(2){margin:0;width:50%;float:left}
#right > .module:nth-child(3){clear:both;float:none;position:relative;margin-left:0;padding-right:0}
.bantin_item{width:30%}
}
@media screen and (max-width:639px) {
body{margin:0!important}
div#nav-tv{padding:0}
.menubar2 a{padding:0 5px}
.nav .Acm-tv{right:initial}
div#topicmenu-options{display:none}
#ipbwrapper{padding:0}
ul#menu-mains,#fa_toolbar_hidden,a#logo img,#gfooter .footer-links,a.copyright-skin,p#site-desc,li.navLi:nth-of-type(2),#fa_toolbar #fa_service,#toppage{display:none;font-size:0}
.copyright.right{float:left}
div#recentTopics_div{height:auto;overflow-y:initial}
.post-entry blockquote{margin:8px;padding:10px 8px 9px!important}
#spot-im-root,.message-alert,#loginReg > div > a.menuAvatar,#latestTopics tr th:first-child,.topicsLast_div .right,.forum-desc,.row1.centered,.statusIcon,th.icon,#search,.topic-list-box .centered{display:none}
table.ipbtable th.forum2{width:45%}
.topicsLast_div li > a{width:100%;white-space:initial}
.member{width:50%}
#profile-advanced-left{margin-left:0;margin-top:535px}
#profile-advanced-layout #new-message{right:1px;top:264px}
#profile-advanced-right .module:first-child,#profile-advanced-layout ul.privmsg,#profile-advanced-layout ul.privmsg li,#profile-advanced-add + .module,#profile-advanced-add,#profile-advanced-right,#profile-advanced-add a[href*="remove="]{width:100%}
#profile-advanced-right .box-content.profile img:first-child{width:160px;height:auto;max-height:180px}
#profile-advanced-right .box-content.profile img{padding:4px 10px}
#profile-advanced-right{position:absolute;height:263px}
#profile-advanced-right .module:first-child,#profile-advanced-add + .module{height:263px}
#profile-advanced-right .module:first-child .box-content.profile,#profile-advanced-add + .module .box-content.profile{height:233px}
#profile-advanced-add a{width:50%}
#profile-advanced-add a[href*="foe="]{left:50%}
#profile-advanced-add a:hover{width:100%;left:0}
.bantin_item{width:45%}
dl.codebox code{max-height:250px!important}
.controlCode{opacity:1!important}
.CodemirrorStyle,.findLine,.textCode,.lineNumber,div.pagination a.goto,.search-footer-box{display:none!important}
div.pagination{margin:16px 0}
.post-icon a[href]:after,.posting-icons a[href]:after{content:initial}
.qreply .center input,.formbuttonrow input,ul.privmsg li,.rtl-inversion-left a,div.pagination a,div.pagination b{margin:8px 4px}
div.maintitle,div.postHead{padding:8px}
.post-footer{height:44px}
div.post .post-footer > ul{opacity:1}
.vote_zzvote{margin-top:12px;margin-left:8px}
.post-icon a,.posting-icons a{margin:8px;display:inline-block}
.post-icon a:hover,.posting-icons a:hover{margin:10px 6px 6px 10px}
}
@media screen and (max-width:479px) {
#right > .module{width:100%!important;float:none!important;margin-bottom:20px!important}
#bangtin,.zzMedal,.search .last,.search .row1,#latestTopics .tabs,.topic4r,.post4r,.lastaction,.topic-title p,#forum_rules .logo,.topic-list-box .last-post2{display:none}
table.ipbtable th.forum{width:45%}
.member{width:100%}
.posting-options.topic-options{width:100%;float:none}
#right > .module{width:100%!important;float:none!important;margin-bottom:20px!important}
div.pagination.topic-options{width:98%;adding:2px 0 0 0}
.columned fieldset.formcolumn1{width:calc(100% - 20px)}
.boxconr.jnfo{font-size:0}
ul.subLink{display:block;position:relative;border:0 none;top:-8px;font-size:12px}
.subLink li a{margin:8px 0}
}
@media screen and (max-width:320px) {
#latestTopics .prefix,.postprofile-right{display:none}
}
@-webkit-keyframes nhay {
  0%   { opacity: 0; }
  50% { color: #0084FF;}
  100% { opacity: 1; color: #FF0000; font-weight: bolder;}
}
@-moz-keyframes nhay {
  0%   { opacity: 0; }
  50% { color: #0084FF;}
  100% { opacity: 1; color: #FF0000;}
}
@-o-keyframes nhay {
  0%   { opacity: 0; }
  50% { color: #0084FF;}
  100% { opacity: 1; color: #FF0000;}
}
@keyframes nhay {
  0%   { opacity: 0; }
  50% { color: #0084FF;}
  100% { opacity: 1; color: #FF0000;}
}
a#smd:after { content: "Giao diện mặc định"; font-size: 14px; } a#stm:after { content: "Giao diện tối màu"; font-size: 14px; }
.ec-zone-head{background-color:#fff;position:absolute;z-index:9999!important;right:-68px;top:2px;width:90px;padding:0 0 0 2px;cursor:pointer;height:16px;overflow:hidden;border-radius:10px 0 0 10px}.ec-zone-head:hover{-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;-ms-transition-duration:.5s;transition-duration:.5s;right:0}.ec-zone-head a{z-index:999;width:90px;font:400 10px/10px arial;background:#fff!important}.ec-zone-logo{background:url(http://static.eclick.vn/delivery/css/images/graphics/icon_eclick.png) no-repeat 2px 4px;padding:3px 0 3px 15px;white-space:nowrap;line-height:10px}.txt_ads_by_eclick{font:400 10px arial;background:#fff;white-space:nowrap;color:#009444;cursor:pointer}
.pathname-box{-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#FFFFFF;background-position:top;background-repeat:repeat-x;border:1px solid #889FAF;box-sizing:border-box;clear:both;font-family:Helvetica,Arial,sans-serif;height:36px;margin:20px 0;max-width:100%;overflow:hidden;padding:0}.homeCrumb a.navst{background:url(http://i61.tinypic.com/23uacup.png) no-repeat center center #889FAF;font-size:0;padding:5px 26px!important;display:inline-block;line-height:36px!important;height:34px!important}.homeCrumb li.bcstart:before,.homeCrumb li.bcstart:after{border-left-color:#889FAF}span.crust.homeCrumb li{display:inline-block;position:relative;background:#FFF}.homeCrumb li:before,.homeCrumb li:after{content:" ";border:18px solid transparent;border-left-width:12px;border-right:0;border-left-color:#FFF;display:block;position:absolute;right:-12px;top:0;z-index:10;width:0;height:0}span.crust.homeCrumb li:after{border-left-color:#DBDBDB;right:-13px;z-index:5}span.crust.homeCrumb a{-moz-outline-style:0 none;_border-bottom:none;color:rgba(0,0,0,.5);line-height:36px;height:37px;padding:10px 8px 10px 24px}
#fa_toolbar #fa_icon, a#fa_welcome, #fa_hide, #fa_show,div#fa_search,#teenvi div#main-content [style="clear:both;"] div[align="center"],#teenvi #main-content > div[style="padding:10px 0 0 0 !important;"],#teenvi div [style="text-align:center; display:inline-block; margin:0 auto;"]{display:none!important;height:0!important;width:0!important;min-height:0!important}#teenvi div#main-content [style="padding:0"]{background:none;height:92px!important}div#main-content [style="padding:0"] .mainmenu{overflow:hidden;opacity:.7!important;border:1px solid rgb(136,159,175);background-repeat:no-repeat;width:63%!important;background-color:#FFF;box-sizing:initial;padding-right:.5%;float:left!important;display:block!important;position:relative!important;z-index:0!important}div#main-content [style="padding:0"] .mainmenu iframe{opacity:.4!important;width:100%!important}div#main-content [style="padding:0"] .mainmenu:before{content:"TEENVI ADS";background:#889FAF;padding:2px 4px;color:white;font-size:14px;transform:rotate(270deg);display:block;position:absolute;left:-35px;top:35px;width:91px;text-align:center}.teenvi.ads:before{content:"QUẢNG CÁO"!important}.teenvi.ads:after{content:"ALO...TEENVI";background:#E4ECF1;padding:2px 4px;color:red;border-bottom:1px dashed rgba(255,0,0,0.47);font-size:13px;transform:rotate(90deg);display:block;position:absolute;font-weight:bold;right:-35px;top:35px;width:90px;text-align:center}.teenvi.ads{width:35%;height:92px;float:right;display:block;position:relative;opacity:.7!important;background:#FFF url() no-repeat right;border:1px solid red;overflow:hidden}.teenvi.ads:before{content:"TV ADS"!important;background:red;padding:2px 4px;color:white;font-size:13px;transform:rotate(319deg);display:block;position:absolute;left:-21px;top:11px;width:91px;text-align:center}p.ads.head{font-family:monospace,Roboto,arial,sans-serif;padding:5px 4px 5px 30px;border-top:none!important;margin:0 0 0 31px;color:rgba(255,0,0,0.47);background-color:rgba(255,0,0,0.12);border-bottom:1px dashed rgba(255,0,0,0.47)}p.ads.content{font-size:27px;font-weight:bold;color:red;margin:1% 0 0 24%;-webkit-animation:nhay .3s infinite;-moz-animation:nhay .3s infinite;-o-animation:nhay .3s infinite;animation:nhay .3s infinite}.ads.end{margin:0 0 0 7%;font-size:14px;color:#A77725;font-weight:bold}.adsmail{color:#119C00;padding-right:5px}.adsmail,.adsmailcn{display:inline-block}
.tv-subbox{position:fixed;background:#fff;z-index:999;border:1px solid #5A7A8F;border-right:14px solid #5A7A8F;padding:20px 30px;top:20%;left:-582px;transition:.5s}.tv-subbox:hover{left:0}.subcontent{overflow-x:hidden;overflow-y:auto;max-height:350px}.subcontent td{padding:5px;width:60%}.subcontent td a:before{content:"\f0e6";font:15px/1 FontAwesome;padding-right:5px}.tv-subhead{background:#5A7A8F url(http://i.imgur.com/dxeNz9C.png)repeat-x;background-repeat:repeat-x;padding:5px!important;margin:4px 0;display:inline-block;width:162%!important;color:#fff;font-weight:700;text-transform:uppercase}#titlesub{color:#fff;padding:0 2px;margin-right:-77px;text-transform:uppercase}
